@tailwind base;
@tailwind components;
@tailwind utilities;



.mbc-dark-title {
    @apply text-3xl text-center text-gray-50 font-bold;
    font-family: 'Nunito', sans-serif;
}

.mbc-dark-title-2 {
    @apply text-xl text-center text-gray-50 top-0;
    font-family: 'Nunito', sans-serif;
}

.mbc-dark-text {
    @apply text-gray-200;
}

.mbc-main-container {
    @apply pt-20 py-10 items-center justify-center;
    
}

.mbc-dark-container {
    @apply rounded-lg shadow-xl mt-10 px-8 py-3 bg-gray-800 relative;

    flex-basis: 500px; height: 100%;
}

.mbc-dark-area {
    @apply bg-gray-900 text-sm p-3 text-violet-200 rounded-md;
}

.mbc-termins-list {
    
}

.mbc-termins-list dt {
    @apply font-semibold underline decoration-wavy mt-7;
}

.mbc-nav-link {
    @apply hover:text-cyan-500 transition-colors
}

.mbc-article {
    @apply p-2 rounded-md bg-gray-800 mb-3;
}

.mbc-aside-a {
    @apply flex flex-row items-center h-12 px-4 rounded-lg
     text-gray-600 bg-gray-100 bg-indigo-300 font-bold
      dark:text-gray-500 dark:bg-gray-100 w-full text-center;
}

.mbc-hand-block {
    background-color: gray;
    border-radius: 5px;
    padding: 5px;
}
.mbc-hand-block > a {
    background-color: black;
}

.mbc-hand-element, #ha {
    margin: 5px;
    background-color: darkviolet;
}

.mbc-near {
    color: cadetblue;
}

.mbc-near ~ span {
    color: red;
}

.mbc-near-2 {
    color: blue;
}

.mbc-near-2 + span {
    color: gold;
}

.mbc-hand-link {

}
.mbc-hand-link:hover {
    color: aqua;
}

.mbc-hand-link:visited {
    color: orangered;
}

.mbc-btn-tmp {
    background-color: aqua;
    padding: 8px;
}

.mbc-btn-tmp:active {
    background-color: darkorchid;
}


.mbc-input-div {
    @apply relative;
}

.mbc-input-div > label {
    @apply absolute px-2 ml-2 -mt-2 font-medium bg-gray-800 text-gray-100 ;
}
.mbc-input-div > input {
    @apply block w-full px-4 py-2.5 mt-2 text-base placeholder-gray-400 bg-gray-800 border border-gray-300 rounded-md focus:outline-none focus:border-purple-500 focus:shadow focus:shadow-purple-500;
}

.mbc-radio-btn {
    @apply flex items-center;
}

.mbc-radio-btn > input {
    @apply h-5 w-5 active:text-purple-700;
}

.mbc-radio-btn > label {
    @apply pl-3 text-base font-medium text-gray-200;
    font-size: 110%;
}

.mbc-magic-number-btn {

}

.mbc-magic-number-btn::placeholder {
    @apply underline;
}


.mbc-main-flex-container {
    @apply px-10 mb-10;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-items: center;
    align-items: stretch;
    justify-content: space-between;
    gap: 10px;
}


.mbc-flex-item {
    @apply rounded-lg shadow-xl mt-10 px-8 py-3 bg-gray-800 block w-96 flex-auto;
    
}

.mbc-menu-desktop {
    @apply flex items-center gap-5;
}

.mbc-menu-mobile {
    display: none;
}


.mbc-mobile-nav-link {
    @apply 
        text-center 
        flex 
        justify-center 
        text-xl 
        p-3 
        border-t 
        border-gray-700
        active:bg-cyan-600;
}

#mbc-hamburger-btn {
    display: none;
}

#ham-btn {
    @apply cursor-pointer absolute right-2 top-2;
    visibility: hidden;
    
}

#ham-btn > span, span::after, span::before {
    @apply block absolute w-full h-1 bg-gray-300 rounded-xl;
}

#ham-btn > span {
    content: '';
    @apply top-1 ;
}

#ham-btn > span::before {
    content: '';
    @apply top-3 ;
}

#ham-btn > span::after {
    content: '';
    @apply top-6;
}

#mbc-hamburger-btn:checked ~ .mbc-menu-mobile {
    display: block;
    visibility: visible;
}

#mbc-hamburger-btn:checked ~ #ham-btn > span {
    @apply top-5;
    transition-duration: 220ms;
    transform: rotate(45deg);
}

#mbc-hamburger-btn:checked ~ #ham-btn > span::before {
    @apply top-0;
    transition-duration: 220ms;
    transform: rotate(90deg);
}

#mbc-hamburger-btn:checked ~ #ham-btn > span::after {
    transition-duration: 220ms;
    transform: rotate(90deg);
    opacity: 0;
}

@media screen and (max-width: 600px) {
    .mbc-menu-desktop {
        display: none;
    }
    .mbc-menu-mobile {
        @apply w-full flex flex-col justify-center items-center;
        display: none;
    }
    #mbc-hamburger-btn {
        display: block;
        opacity: 0;
    }
    #ham-btn {
        @apply block w-10 h-10;
        visibility: visible;
    }
}


.image-gallery {
    @apply flex flex-col gap-8 m-4 md:m-20;
}
  
.image-gallery .column {
    @apply flex flex-col gap-8;
}

.gallery-img-item img {
    @apply w-full h-full rounded-lg object-cover;

}

.gallery-img-label {
    @apply -mt-6 px-2 absolute rounded-tr-lg bg-opacity-80 bg-gray-800;
}

@media only screen and (min-width: 768px) {
.image-gallery {
    flex-direction: row;
}
}

.btn-container {
    @apply flex flex-col gap-4 py-4;
}


.beautiful-button-1 {
    @apply bg-cyan-600 text-white font-bold py-2 px-4;
    transition: all 0.3s ease-in-out;
}


@keyframes btn-anim-1 {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
}

.beautiful-button-2 {
    @apply bg-purple-700 text-white font-bold py-2 px-4;
    animation: none;
}

.beautiful-button-2:hover {
    animation: btn-anim-1 0.5s;
    @apply scale-[1.2];
}

.beautiful-button-3 {
    @apply text-xl bg-orange-600 text-white font-bold py-2 px-4 relative;
    transition: all 0.5s ease-in-out;
}

.beautiful-button-3:hover {
    @apply z-10 bg-purple-700;
}


.beautiful-button-3::before, .beautiful-button-3::after {
    @apply absolute bg-orange-600 top-0 left-0 w-full h-full z-[-1] ;
    content: '';
    transition: all 0.4s ease-in-out;
}

.beautiful-button-3:hover::before {
    @apply bg-orange-600 w-full h-full top-[5px] left-[5px];
    /*transform: translate(10px, 10 px);*/
}

.beautiful-button-3:hover::after {
    @apply bg-purple-700 opacity-50 w-full h-full top-[-5px] left-[-5px] z-[-5];
}



.beautiful-button-4 {
    @apply text-xl rounded bg-gradient-to-r from-indigo-500 via-purple-500 to-fuchsia-600 py-2 px-4 font-bold;
    transition: all 1s ease-in-out;
}

.beautiful-button-4:hover {
    transform: scale3d(1.1, 1.1, 1);
    @apply animate-pulse;
}

.beautiful-button-5 {
    @apply text-xl bg-indigo-700 text-white font-bold py-2 px-4 rounded;
}

.beautiful-button-5:hover {
    @apply animate-bounce;
}
.beautiful-button-6 {
    @apply text-xl bg-amber-400 text-white font-bold py-2 px-4 rounded;
}

.beautiful-button-6:hover {
    @apply animate-spin;
}


.noti-btn {
    @apply bg-gray-600 p-2 rounded-full relative;
    transition: all 0.5s;
}

.noti-btn > span {
    @apply absolute bg-red-600 text-xs rounded-full top-0 right-0 w-4 h-4 flex justify-center items-center opacity-80;
}

.noti-btn:hover {
    @apply rounded-b-none cursor-pointer;
}

.noti-btn:hover > .noti-list {
    @apply block;
}


.noti-list {
    @apply absolute bg-gray-600 w-64 rounded-lg rounded-tr-none shadow-lg p-4 top-10 right-0 hidden;
    transition: all 0.5s;
    transition-delay: 0.2s;
}

.noti-item {
    @apply flex gap-4 mb-4 z-[9999] rounded-xl cursor-pointer;
    transition: all 0.2s;
}

.noti-item__content {
    @apply flex flex-col justify-center;
}

.noti-item__content__title {
    @apply text-white font-bold border-b border-gray-500;
}

.noti-item__content__desc {
    @apply text-gray-400;
}

.noti-item:hover {
    @apply bg-gray-700 scale-110 p-4;
}

.cards-container {
    @apply flex flex-wrap justify-center gap-4 px-3 md:px-10 mb-5;
}

.card {
    @apply mx-4 flex flex-col gap-4 rounded-lg bg-gray-800 w-[430px] h-auto relative ;
}

.card img {
    @apply overflow-hidden h-full rounded-lg;
}

.card-hover-content {
    @apply z-10 h-full w-full flex flex-col justify-end gap-2 absolute transition-all duration-500 rounded-lg p-3 text-gray-100 opacity-0;
    transition: all 0.5s;
}

.card-hover-content:before {
    @apply -z-20 absolute top-0 left-0 w-full h-full rounded-lg;
    background-image: linear-gradient(to top, #18b775, #0e7ad6, rgba(0, 0, 0, 0.5));
    opacity: 0.8;
    content: '';
}

.card .card-title {
    @apply text-xl font-bold;
}

.card .card-button {
    @apply mt-2;
}

.card .card-button button {
    @apply bg-gray-50 text-gray-800 w-full font-bold py-2 px-4 rounded;
}

.card-hover-content:hover {
    @apply opacity-100;
}

.video-container {
    @apply w-full flex items-center justify-center relative;
}

.video-container video {
    @apply w-1/4 h-full object-cover;
}



.video-intro .video-title {
    @apply font-bold text-xl;
}

.video-intro {
    @apply z-10 absolute p-5 -ml-72 w-1/3 text-white opacity-0;
    transition: all ease-in-out 0.8s;
}

.video-intro:before {
    @apply w-full h-full absolute bg-black -mt-5 -ml-5;
    content: '';
    background-color: rgba(0, 0, 0, 0.8);
    z-index: -1;
}

.video-container:hover > .video-intro {
    transform: scale(1.2);
    @apply opacity-100;
}
