@tailwind base;
@tailwind components;
@tailwind utilities;



.mbc-dark-title {
    @apply text-3xl text-center text-gray-50 font-bold;
    font-family: 'Nunito', sans-serif;
}

.mbc-dark-title-2 {
    @apply text-xl text-center text-gray-50 sticky top-0;
    font-family: 'Nunito', sans-serif;
}

.mbc-dark-text {
    @apply text-gray-200;
}

.mbc-main-container {
    @apply pt-20 py-10 items-center justify-center;
    
}

.mbc-dark-container {
    @apply rounded-lg shadow-xl mt-10 px-8 py-3 bg-gray-800 relative;

    flex-basis: 500px; height: 100%;
}

.mbc-dark-area {
    @apply bg-gray-900 text-sm p-3 text-violet-200 rounded-md;
}

.mbc-termins-list {
    
}

.mbc-termins-list dt {
    @apply font-semibold underline decoration-wavy mt-7;
}

.mbc-nav-link {
    @apply hover:text-cyan-500 transition-colors
}

.mbc-article {
    @apply p-2 rounded-md bg-gray-800 mb-3;
}

.mbc-aside-a {
    @apply flex flex-row items-center h-12 px-4 rounded-lg
     text-gray-600 bg-gray-100 bg-indigo-300 font-bold
      dark:text-gray-500 dark:bg-gray-100 w-full text-center;
}

.mbc-hand-block {
    background-color: gray;
    border-radius: 5px;
    padding: 5px;
}
.mbc-hand-block > a {
    background-color: black;
}

.mbc-hand-element, #ha {
    margin: 5px;
    background-color: darkviolet;
}

.mbc-near {
    color: cadetblue;
}

.mbc-near ~ span {
    color: red;
}

.mbc-near-2 {
    color: blue;
}

.mbc-near-2 + span {
    color: gold;
}

.mbc-hand-link {

}
.mbc-hand-link:hover {
    color: aqua;
}

.mbc-hand-link:visited {
    color: orangered;
}

.mbc-btn-tmp {
    background-color: aqua;
    padding: 8px;
}

.mbc-btn-tmp:active {
    background-color: darkorchid;
}


.mbc-input-div {
    @apply relative;
}

.mbc-input-div > label {
    @apply absolute px-2 ml-2 -mt-2 font-medium bg-gray-800 text-gray-100 ;
}
.mbc-input-div > input {
    @apply block w-full px-4 py-2.5 mt-2 text-base placeholder-gray-400 bg-gray-800 border border-gray-300 rounded-md focus:outline-none focus:border-purple-500 focus:shadow focus:shadow-purple-500;
}

.mbc-radio-btn {
    @apply flex items-center;
}

.mbc-radio-btn > input {
    @apply h-5 w-5 active:text-purple-700;
}

.mbc-radio-btn > label {
    @apply pl-3 text-base font-medium text-gray-200;
    font-size: 110%;
}

.mbc-magic-number-btn {

}

.mbc-magic-number-btn::placeholder {
    @apply underline;
}


.mbc-main-flex-container {
    @apply px-10 mb-10;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-items: center;
    align-items: stretch;
    justify-content: space-between;
    gap: 10px;
}


.mbc-flex-item {
    @apply rounded-lg shadow-xl mt-10 px-8 py-3 bg-gray-800 block w-96 flex-auto;
    
}

.mbc-menu-desktop {
    @apply flex items-center gap-5;
}

.mbc-menu-mobile {
    display: none;
}


.mbc-mobile-nav-link {
    @apply 
        text-center 
        flex 
        justify-center 
        text-xl 
        p-3 
        border-t 
        border-gray-700
        active:bg-cyan-600;
}

#mbc-hamburger-btn {
    display: none;
}

#ham-btn {
    @apply cursor-pointer absolute right-2 top-2;
    visibility: hidden;
    
}

#ham-btn > span, span::after, span::before {
    @apply block absolute w-full h-1 bg-gray-300 rounded-xl;
}

#ham-btn > span {
    content: '';
    @apply top-1 ;
}

#ham-btn > span::before {
    content: '';
    @apply top-3 ;
}

#ham-btn > span::after {
    content: '';
    @apply top-6;
}

#mbc-hamburger-btn:checked ~ .mbc-menu-mobile {
    display: block;
    visibility: visible;
}

#mbc-hamburger-btn:checked ~ #ham-btn > span {
    @apply top-5;
    transition-duration: 220ms;
    transform: rotate(45deg);
}

#mbc-hamburger-btn:checked ~ #ham-btn > span::before {
    @apply top-0;
    transition-duration: 220ms;
    transform: rotate(90deg);
}

#mbc-hamburger-btn:checked ~ #ham-btn > span::after {
    transition-duration: 220ms;
    transform: rotate(90deg);
    opacity: 0;
}

@media screen and (max-width: 600px) {
    .mbc-menu-desktop {
        display: none;
    }
    .mbc-menu-mobile {
        @apply w-full flex flex-col justify-center items-center;
        display: none;
    }
    #mbc-hamburger-btn {
        display: block;
        opacity: 0;
    }
    #ham-btn {
        @apply block w-10 h-10;
        visibility: visible;
    }
}


.image-gallery {
    @apply flex flex-col gap-8 m-4 md:m-20;
}
  
.image-gallery .column {
    @apply flex flex-col gap-8;
}

.gallery-img-item img {
    @apply w-full h-full rounded-lg object-cover;

}

.gallery-img-label {
    @apply -mt-6 px-2 absolute rounded-tr-lg bg-opacity-80 bg-gray-800;
}

@media only screen and (min-width: 768px) {
.image-gallery {
    flex-direction: row;
}
}
